<p id="notice"><%= notice %></p>

<p>
  <strong>Area name:</strong>
  <%= @police_area.area_name %>
</p>

<p>
  <strong>Id area:</strong>
  <%= @police_area.id_area %>
</p>

<p>
  <strong>Email:</strong>
  <%= @police_area.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @police_area.address %>
</p>

<%= link_to 'Edit', edit_police_area_path(@police_area) %> |
<%= link_to 'Back', police_areas_path %>
