<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id, id: :event_state_id %>
  </div>

  <div class="field">
    <%= form.label :date_initial %>
    <%= form.date_select :date_initial, id: :event_date_initial %>
  </div>

  <div class="field">
    <%= form.label :date_end %>
    <%= form.date_select :date_end, id: :event_date_end %>
  </div>

  <div class="field">
    <%= form.label :hour_initial %>
    <%= form.time_select :hour_initial, id: :event_hour_initial %>
  </div>

  <div class="field">
    <%= form.label :hour_end %>
    <%= form.time_select :hour_end, id: :event_hour_end %>
  </div>

  <div class="field">
    <%= form.label :venue_id %>
    <%= form.text_field :venue_id, id: :event_venue_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :event_value %>
  </div>

  <div class="field">
    <%= form.label :organizer %>
    <%= form.text_field :organizer, id: :event_organizer %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :event_company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
