<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle, id: :notice_tittle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :notice_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :notice_image %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :notice_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
