<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state.name %>
</p>

<p>
  <strong>Date initial:</strong>
  <%= @event.date_initial %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @event.date_end %>
</p>

<p>
  <strong>Hour initial:</strong>
  <%= @event.hour_initial %>
</p>

<p>
  <strong>Hour end:</strong>
  <%= @event.hour_end %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @event.value %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer %>
</p>

<p>
  <strong>Company:</strong>
  <%= @event.company.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
