<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @phone.type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Company:</strong>
  <%= @phone.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @phone.user %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @phone.venue %>
</p>

<p>
  <strong>Member:</strong>
  <%= @phone.member %>
</p>

<p>
  <strong>Police area:</strong>
  <%= @phone.police_area %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
