<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @member.id_number %>
</p>

<p>
  <strong>Date initial:</strong>
  <%= @member.date_initial %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @member.date_end %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @member.company %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
