<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Mayor name:</strong>
  <%= @location.mayor_name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @location.id_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city.name %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
